body {
    background: radial-gradient(#750000 1%, black 65%);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#contacte {
    background-color: #4c4c4c;
    border: 2px solid #987802;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #987802;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #987802;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #987802;
    outline: none;
}

button {
    background-color: #987802;
    color: #2e2e2e;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #987802;
}
