@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
.londrina-sketch-regular {
    font-family: "Londrina Sketch", serif;
    font-weight: 600;
    font-size: 4em;
    font-style: normal;
    margin: 0 0.5em;
    padding-top: 0.3em;
    text-align: left;
    margin-left: 0.5em;
    color: white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
   witdh: 100%;
    height: 10em;
    background: linear-gradient(black 70%, darkgoldenrod);
    border-bottom: #b69121 3px solid;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;}