@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
.londrina-sketch-regular {
    font-family: "Londrina Sketch", serif;
    font-weight: 600;
    font-size: 4em;
    font-style: normal;
    margin: 0 0.5em;
    padding-top: 0.3em;
    text-align: left;
    color: white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(black 70%, darkgoldenrod);
    border-bottom: #b69121 3px solid;
    display: flex;
    justify-content: center;
}
img{
    height: 10em;
}

main {
    padding: 20px;}
@media screen and (max-width: 480px) {
    .londrina-sketch-regular {
        font-size: 1.5rem;
    }

    img {
        max-height: 6em;
    }

    main {
        padding: 10px;
    }
}