body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body {
    background-image: url("../res/fotofondonegre1.jpg");
}
.cataleg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producte {
    background-color: #7e6d29;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.producte img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.producte h2 {
    font-size: 20px;
    margin: 10px 0;
}

.producte p {
    font-size: 16px;
}

.producte .precio {
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

button.botoncomprar {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button.botoncarrito {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

section.taules{
    padding-left:20px;
}
section.fitxes{
    padding-left:20px;
}

h1{
    color: #7e6d29;
}

img{
    border-color: black;
}

img {
    width: 100%;
    max-width: 400px;
    max-height: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
}

h1{
    background-color: #7e6d29;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 9em;
}

iframe {
    width: 90%;
    margin: 0;
}